@font-face {
  font-family: 'Figtree';
  src: local('Figtree'), url("./figtree/FigtreeRegular.ttf") format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: local('Figtree'), url("./figtree/FigtreeBold.ttf") format('truetype');
  font-weight: bold;
  font-display: swap;
}